<div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="/home" routerLinkActive="active" class="nav-link" ariaCurrentWhenActive="page">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/vehicles" routerLinkActive="active" class="nav-link" ariaCurrentWhenActive="page">Vehicles</a>
          </li>
          <li class="nav-item">
            <a routerLink="/manufacturers" routerLinkActive="active" class="nav-link" ariaCurrentWhenActive="page">Manufacturers</a>
          </li>
          <li class="nav-item">
            <a routerLink="/garage" routerLinkActive="active" class="nav-link" ariaCurrentWhenActive="page">Your garage</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </div>